@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lexend:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Spline+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #fff;
  font-family: "Lexend", serif;
  font-size: 16px;
  background: #303268;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  max-width: 1172px;
  width: 100%;
  padding: 0 16px;
}

.title {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-feature-settings: "liga" off;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 109.375%;
}
.title span {
  color: #25ff00;
}

.btn-transparent {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  width: 100%;
  color: #fff;
  border: 1px solid #34c21c;
  border-radius: 100px;
  background-color: transparent;
  transition: all 0.4s ease-out;
}
.btn-transparent:hover {
  box-shadow: 0px 0px 14px 1px #34c21c;
}
.btn-transparent:active, .btn-transparent:focus {
  background-color: #469618;
}

.btn-green {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  width: 100%;
  color: #fff;
  border-radius: 1000px;
  background-color: #34c21c;
  transition: all 0.4s ease-out;
}
.btn-green:hover {
  box-shadow: 0px 0px 14px 1px #34c21c;
}
.btn-green:active, .btn-green:focus {
  background-color: #469618;
}

.cookies {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 25px 24px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #4cbc0b;
  background: rgba(76, 188, 11, 0.3);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.cookies__text {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 17px;
}
.cookies__btn:not(:last-child) {
  margin-right: 8px;
}
.cookies__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.wrapper {
  padding-top: 132px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  max-width: 1140px;
  padding: 16px 0;
  border-radius: 1000px;
  border: 1px solid rgba(202, 140, 65, 0.75);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  /* IF HEADER FIXED */
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 14;
  /* ACTIVE HEADER STYLE */
}
.header--active {
  transition: all 0.3s ease-out;
}
.header--active .header__logo {
  transition: all 0.3s ease-out;
}
.header__row {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  margin-right: 9.5px;
}
.header__nav {
  margin-right: 9.5px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__link {
  color: #ecf1f0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  color: #25ff00;
}
.header__link--active {
  color: #25ff00;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
}
.header__btns {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header__btns .btn-signup {
  margin-right: 8px;
}
@media (max-width: 1160px) {
  .header {
    width: auto;
    transform: translateX(0);
    left: 16px;
    right: 16px;
  }
}
@media (max-width: 1100px) {
  .header__logo {
    flex: 1 1 auto;
  }
  .header__list {
    gap: 5px;
  }
}
@media (max-width: 998px) {
  .header__list {
    gap: 0;
  }
  .header__link {
    font-size: 16px;
  }
}
/* BURGER MENU STYLES */
.no-scroll {
  overflow-y: hidden;
}

/* BTN NAV  STYLES*/
.nav-btn {
  position: relative;
  z-index: 14;
  display: none;
  height: 30px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
}

.nav-btn-icon {
  position: relative;
  display: block;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 20px;
  transition: all 0.3 ease-out;
}
.nav-btn-icon::before, .nav-btn-icon::after {
  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.nav-btn-icon::before {
  top: -7px;
}
.nav-btn-icon::after {
  bottom: -7px;
}

/* NAv Close */
.nav-btn-close .nav-btn-icon {
  background-color: transparent;
}
.nav-btn-close .nav-btn-icon::before {
  transform: rotate(-45deg);
  top: 0;
  left: 0px;
}
.nav-btn-close .nav-btn-icon::after {
  transform: rotate(45deg);
  top: 0;
  left: 0px;
}

/* //BTN NAV  STYLES*/
/* burger menu */
.mobile-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.7s ease-out;
}

.mobile-nav .mobile-nav__item ul {
  flex-direction: column;
}

.mobile-nav .mobile-nav__item ul li {
  list-style-type: none;
  margin: 0;
}

.mobile-nav__item ul li a {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease-out;
}
.mobile-nav__item ul li.dropdown > .dropdown-content li {
  border: none;
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
  .nav-btn {
    display: block;
  }
  .mobile-nav-active {
    display: flex;
    max-height: 100%;
    visibility: visible;
    top: 0;
    opacity: 1;
    pointer-events: auto;
  }
}
.benefits__title {
  margin-bottom: 40px;
}
.benefits__inner {
  position: relative;
}
.benefits__slide {
  max-height: 600px;
  min-height: 600px;
  padding: 16px 40px 70px;
  border-radius: 24px;
  border: 2px solid #34c21c;
  background: rgba(48, 50, 104, 0.3);
  -webkit-backdrop-filter: blur(175px);
          backdrop-filter: blur(175px);
}
.benefits__slide-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 8px;
  text-align: center;
}
.benefits__slide-img {
  max-width: 200px;
  max-height: 245px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.benefits__slide-text {
  color: #fff;
  font-size: 32px;
  letter-spacing: -1.6px;
}
.benefits__slide-text span {
  color: #00ff38;
}
.benefits .pagination-slider .swiper-pagination-bullet {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: 1;
  width: 24px;
  height: 24px;
}
.benefits .pagination-slider .swiper-pagination-bullet-active {
  background-color: #00ff38;
}
.benefits .slider-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-fraction {
  color: white;
  position: absolute;
  right: 200px;
  bottom: 0;
  z-index: 10;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 700;
}