@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lexend:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Spline+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #fff;
  font-family: "Lexend", serif;
  font-size: 16px;
  background: radial-gradient(58.86% 81.51% at 50% 40.91%, rgba(0, 25, 255, 0.5) 20.92%, rgba(30, 42, 156, 0.5) 84.26%), #303268;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  max-width: 1172px;
  width: 100%;
  padding: 0 16px;
}

.title {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-feature-settings: "liga" off;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 109.375%;
}
.title span {
  color: #25ff00;
}

.btn-transparent {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  width: 100%;
  color: #fff;
  border: 1px solid #34c21c;
  border-radius: 100px;
  background-color: transparent;
  transition: all 0.4s ease-out;
}
.btn-transparent:hover {
  border-radius: 1000px;
  border: 1px solid #34c21c;
  background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 14px 1px #4cbc0b;
}
.btn-transparent:active, .btn-transparent:focus {
  border-radius: 1000px;
  border: 1px solid #4cbc0b;
  background: rgba(68, 12, 33, 0.1);
  box-shadow: 0px 0px 14px 1px #4cbc0b;
}

.btn-green {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  width: 100%;
  color: #fff;
  border-radius: 1000px;
  background-color: #34c21c;
  transition: all 0.4s ease-out;
}
.btn-green:hover {
  box-shadow: 0px 0px 14px 1px #34c21c;
}
.btn-green:active, .btn-green:focus {
  background-color: #469618;
}

.cookies {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 25px 24px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #4cbc0b;
  background: rgba(76, 188, 11, 0.3);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  z-index: 9;
}
.cookies__text {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 17px;
}
.cookies__btn:not(:last-child) {
  margin-right: 8px;
}
.cookies__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.wrapper {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  max-width: 1140px;
  padding: 16px 0;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  /* IF HEADER FIXED */
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 14;
  /* ACTIVE HEADER STYLE */
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  background: linear-gradient(114deg, #fff 0%, #006ffd 33.59%, #006ffd 62.84%, #fff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: -1;
  border-radius: 100px;
}
.header--active {
  transition: all 0.3s ease-out;
}
.header--active .header__logo {
  transition: all 0.3s ease-out;
}
.header__row {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  margin-right: 9.5px;
}
.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header__logo a img {
  pointer-events: none;
}
.header__nav {
  margin-right: 9.5px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__link {
  color: #ecf1f0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.header__link:last-child {
  display: none;
}
.header__link:hover {
  color: #25ff00;
}
.header__link--active {
  color: #25ff00;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
}
.header__btns {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header__btns .btn-signup {
  margin-right: 8px;
}
@media (max-width: 1160px) {
  .header {
    width: auto;
    transform: translateX(0);
    left: 16px;
    right: 16px;
  }
}
@media (max-width: 1100px) {
  .header__logo {
    flex: 1 1 auto;
  }
  .header__list {
    gap: 5px;
  }
}
@media (max-width: 1024px) {
  .header__list {
    gap: 0;
  }
  .header__logo img {
    height: 40px;
  }
}
@media (max-width: 998px) {
  .header {
    top: 16px;
  }
  .header__list {
    gap: 0;
  }
  .header__btns {
    justify-content: flex-end;
  }
  .header__link {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .header__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .header__nav {
    margin: 0;
  }
  .header__link {
    padding: 0;
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .header__link:hover, .header__link:active, .header__link:focus {
    color: #fff;
  }
  .header__link:last-child {
    display: block;
  }
}
@media (max-width: 540px) {
  .header {
    max-height: 64px;
    padding: 8px 0;
  }
  .header__logo {
    max-height: 40px;
    max-width: 97px;
    margin-right: 0;
  }
  .header__logo img {
    width: 100%;
    height: auto;
  }
  .header__btn {
    width: 100px;
    height: 50px;
    padding: 16px 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  .header__btns {
    display: none;
  }
  .header .nav-btn {
    margin-left: auto;
  }
}
@media (max-width: 440px) {
  .header__container {
    padding: 0 8px;
  }
  .header__btns {
    justify-content: flex-end;
    gap: 5px;
  }
  .header__btn {
    max-width: 80px;
    height: 30px;
    padding: 16px 5px;
    font-size: 8px;
  }
}
@media (max-width: 390px) {
  .header__btn {
    max-width: 60px;
    height: 30px;
    padding: 16px 5px;
    font-size: 8px;
  }
}
/* BURGER MENU STYLES */
.no-scroll {
  overflow-y: hidden;
}

/* BTN NAV  STYLES*/
.nav-btn {
  position: relative;
  z-index: 14;
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 100px;
  background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}

.nav-btn-icon {
  position: relative;
  display: block;
  background-color: #999a9c;
  width: 24px;
  height: 2px;
  transition: all 0.3 ease-out;
}
.nav-btn-icon::before, .nav-btn-icon::after {
  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #999a9c;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.nav-btn-icon::before {
  top: -7px;
}
.nav-btn-icon::after {
  bottom: -7px;
}

/* NAv Close */
.nav-btn-close .nav-btn-icon {
  background-color: transparent;
}
.nav-btn-close .nav-btn-icon::before {
  transform: rotate(-45deg);
  top: 0;
  left: 0px;
}
.nav-btn-close .nav-btn-icon::after {
  transform: rotate(45deg);
  top: 0;
  left: 0px;
}

/* //BTN NAV  STYLES*/
/* burger menu */
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  min-width: 189px;
  max-width: 100%;
  height: 100%;
  max-height: 0%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 24px;
  overflow: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.3s ease-out;
}

@media (max-width: 992px) {
  .nav-btn {
    display: block;
    margin: 0 12px;
  }
  .mobile-nav-active {
    display: flex;
    height: auto;
    max-height: 100vh;
    top: calc(100% + 29px);
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
}
@media (max-width: 425px) {
  .nav-btn {
    margin: 0 8px;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 890px) {
  .cookies {
    max-height: 80px;
    padding: 20px 8px;
  }
  .cookies__text {
    font-size: 16px;
    margin-right: 12px;
  }
  .cookies__btn {
    max-width: 70px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .cookies {
    left: 16px;
    right: 16px;
    max-width: 100%;
    justify-content: center;
    transform: translateX(0%);
    padding: 10px 16px;
    border-radius: 20px;
  }
  .cookies__text {
    margin-right: 16px;
  }
  .cookies__btn {
    width: 60px;
    height: 40px;
    font-size: 14px;
  }
}
.benefits .benefits__pagination-slider,
.features .features__pagination-slider {
  bottom: -74px;
}
.benefits .benefits__pagination-slider .swiper-pagination-bullet,
.features .features__pagination-slider .swiper-pagination-bullet {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: 1;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}
.benefits .benefits__pagination-slider .swiper-pagination-bullet:hover,
.features .features__pagination-slider .swiper-pagination-bullet:hover {
  transition: all 0.3s ease;
  border: 1px solid #00ff38;
}
.benefits .benefits__pagination-slider .swiper-pagination-bullet-active,
.features .features__pagination-slider .swiper-pagination-bullet-active {
  background-color: #00ff38;
}

.swiper-fraction {
  color: white;
  position: absolute;
  right: 96px;
  bottom: -82px;
  z-index: 10;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 700;
}
.swiper-fraction span:last-child {
  color: #868686;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.slider-prev-mob,
.slider-next-mob {
  display: none;
}

.slider-buttons {
  position: absolute;
  bottom: -58px;
  right: 40px;
}

.benefits__slider-next,
.benefits__slider-prev,
.features__slider-next,
.features__slider-prev {
  transition: all 0.3s ease;
}
.benefits__slider-next:hover,
.benefits__slider-prev:hover,
.features__slider-next:hover,
.features__slider-prev:hover {
  transition: all 0.3s ease;
}
.benefits__slider-next:hover svg path,
.benefits__slider-prev:hover svg path,
.features__slider-next:hover svg path,
.features__slider-prev:hover svg path {
  transition: all 0.3s ease;
  fill: #34c21c;
}
.benefits__slider-next svg path,
.benefits__slider-prev svg path,
.features__slider-next svg path,
.features__slider-prev svg path {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .swiper-fraction {
    display: none;
  }
  .slider-prev-mob,
  .slider-next-mob {
    display: block;
  }
  .slider-buttons {
    right: 0;
    bottom: -55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .benefits .benefits__pagination-slider,
  .features .features__pagination-slider {
    bottom: -63px;
  }
}
.intro {
  padding-top: 132px;
  margin-bottom: 100px;
}
.intro__row {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__title {
  margin: 0;
  margin-bottom: 32px;
  max-width: 600px;
  font-size: 48px;
}
.intro__title span {
  color: #34c21c;
}
.intro__descr {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
}
.intro__descr span {
  color: #25ff00;
}
.intro__left-block {
  flex: 1 1 50%;
}
.intro__right-block {
  flex: 1 1 50%;
  max-width: 478px;
}
.intro__right-block img {
  width: 100%;
  height: auto;
}

@media (max-height: 600px) {
  .intro__row {
    margin-top: 0;
  }
  .intro__descr {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .intro {
    padding-top: 104px;
  }
  .intro__row {
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
  }
  .intro__title {
    text-align: center;
    margin: 0 auto 16px;
  }
  .intro__descr {
    text-align: center;
  }
  .intro__btn {
    margin: 0 auto;
  }
  .intro__right-block {
    max-height: 500px;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 32px;
  }
  .intro__descr {
    font-size: 18px;
  }
}
@media (max-height: 768px) {
  .intro__row {
    margin-top: 50px;
  }
}
@media (max-height: 600px) {
  .intro {
    padding-top: 110px;
  }
  .intro__row {
    margin-top: 0px;
  }
}
@media (max-width: 425px) {
  .intro {
    padding-top: 94px;
  }
  .intro__row {
    margin-top: 0;
  }
  .intro__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .intro__descr {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 150%;
  }
  .intro__btn {
    max-width: 170px;
    height: 50px;
    font-size: 16px;
  }
  .intro__left-block {
    margin-bottom: 16px;
  }
}
/**************************\
  Basic Modal Styles
\**************************/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: center;
  padding-top: 148px;
  z-index: 10;
}

.modal__container {
  max-width: 750px;
  max-height: 560px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  background: linear-gradient(0deg, rgba(0, 111, 253, 0.1) 0%, rgba(0, 111, 253, 0.1) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(500px);
          backdrop-filter: blur(500px);
}
.modal__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px 8px 76px;
}
.modal__content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(114deg, #fff 0%, #006ffd 33.59%, #006ffd 62.84%, #fff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.modal__logo {
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 32px;
  height: 32px;
  background: transparent;
}
.modal__subtitle {
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.modal__btn {
  max-width: 360px;
  width: 100%;
  border-radius: 12px;
}

.modal__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-radio {
  display: flex;
  max-width: 360px;
  width: 100%;
  padding: 20px 8px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: #a5a5a5;
  font-family: "Spline Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.custom-radio:hover {
  color: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(0deg, rgba(76, 188, 11, 0.04) 0%, rgba(76, 188, 11, 0.04) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}
.custom-radio + .custom-radio {
  margin-top: 20px;
}
.custom-radio + .modal__link {
  margin-top: 32px;
}

.custom-radio--active {
  position: relative;
  border-color: transparent;
  border-width: 0px;
  border: none;
  color: #a5a5a5;
}
.custom-radio--active::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(114deg, #fff 0%, #006ffd 33.59%, #006ffd 62.84%, #fff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  pointer-events: none;
}
.custom-radio--active input[type=radio]:checked + .radio-button {
  background-color: #2b99ff;
  opacity: 1;
  transition: all 0.3s ease-out;
}
.custom-radio--active input[type=radio]:checked + .radio-button::before {
  display: block;
}

.custom-radio input[type=radio] {
  display: none;
  transition: all 0.3s ease-out;
}

.radio-button {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 16px;
  border-radius: 20px;
  opacity: 0.4;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-out;
}
.radio-button::before {
  display: none;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

/**************************\
   Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@media (max-width: 768px) {
  .modal__overlay {
    padding: 148px 16px 40px;
  }
}
@media (max-width: 500px) {
  .modal__overlay {
    padding: 94px 16px 40px;
  }
  .modal__content {
    padding: 44px 8px 76px;
  }
  .modal__close {
    top: 4px;
    right: 4px;
  }
  .modal__title {
    font-size: 32px;
  }
  .modal__subtitle {
    max-width: 350px;
    margin-bottom: 16px;
  }
  .modal__logo {
    max-width: 80px;
    margin-bottom: 16px;
  }
  .modal .custom-radio + .custom-radio {
    margin-top: 16px;
  }
  .modal .custom-radio + .modal__link {
    margin-top: 16px;
  }
}
@media (max-height: 530px) {
  .modal__overlay {
    padding-bottom: 10px;
  }
  .modal__content {
    height: auto;
  }
}
.benefits {
  padding-top: 156px;
  padding-bottom: 80px;
}
.benefits__title {
  margin-bottom: 40px;
}
.benefits__inner {
  position: relative;
}
.benefits__slide {
  max-height: 612px;
  min-height: 600px;
  padding: 16px 40px 70px;
  border-radius: 24px;
  border: 2px solid #34c21c;
  background: rgba(48, 50, 104, 0.3);
  -webkit-backdrop-filter: blur(175px);
          backdrop-filter: blur(175px);
}
.benefits__slide-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 8px;
  text-align: center;
}
.benefits__slide-img {
  max-width: 200px;
  max-height: 245px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.benefits__slide-text {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
  overflow-y: auto;
}
.benefits__slide-text span {
  color: #00ff38;
}
.benefits__slider-prev, .benefits__slider-next {
  width: 48px;
  height: 48px;
}
.benefits__slider-prev {
  left: -62px;
}
.benefits__slider-next {
  right: -40px;
}

@media (max-width: 1024px) {
  .benefits__slide-text {
    font-size: 24px;
    letter-spacing: -1.2px;
  }
}
@media (max-width: 945px) {
  .benefits__slide-title {
    font-size: 32px;
  }
  .benefits__slide-text {
    font-size: 24px;
    letter-spacing: -1.2px;
  }
}
@media (max-width: 768px) {
  .benefits {
    padding-top: 100px;
  }
  .benefits__slider-prev, .benefits__slider-next {
    width: 30px;
    height: 30px;
  }
  .benefits__slider-prev {
    left: 0;
  }
  .benefits__slider-next {
    right: 0;
  }
}
@media (max-width: 540px) {
  .benefits {
    padding-top: 0;
  }
  .benefits__title {
    margin-bottom: 24px;
  }
  .benefits__slide {
    padding: 16px 16px 5px;
  }
  .benefits__slide-text {
    max-height: 290px;
    overflow-y: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.17px;
  }
}
@media (max-width: 360px) {
  .benefits__slide-title {
    font-size: 28px;
  }
  .benefits__slide-text {
    font-size: 16px;
  }
  .benefits__slide-img {
    max-width: 180px;
    max-height: 170px;
    margin-bottom: 20px;
  }
  .benefits__slide-img img {
    width: 100%;
    height: 100%;
  }
}
.features {
  padding-top: 150px;
}
.features__inner {
  position: relative;
}
.features__title {
  margin-bottom: 32px;
}
.features__slide {
  max-width: 570px;
  width: 100%;
  height: 300px;
  padding: 8px 40px 22px;
  border-radius: 10px;
  border: 2px solid #34c21c;
  background: rgba(48, 50, 104, 0.3);
  -webkit-backdrop-filter: blur(175px);
          backdrop-filter: blur(175px);
}
.features__slide-title {
  margin-bottom: 16px;
  font-size: 24px;
}
.features__slide-img {
  margin-bottom: 8px;
  max-width: 100px;
  max-height: 100px;
}
.features__slide-img img {
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.features__slide-img--gif {
  max-width: 240px;
}
.features__slide-img--gif img {
  max-width: 240px;
}
.features__slide-text {
  font-size: 18px;
  line-height: normal;
}
.features__slider-prev, .features__slider-next {
  width: 48px;
  height: 48px;
}
.features__slider-prev {
  left: -62px;
}
.features__slider-next {
  right: -40px;
}

@media (max-width: 1060px) {
  .features__slide {
    padding: 8px 24px 22px;
  }
}
@media (max-width: 1024px) {
  .features__slide-img {
    max-width: 100px;
    max-height: 50px;
  }
  .features__slide-img img {
    width: auto;
    max-height: 50px;
  }
  .features__slide-img--gif img {
    margin-left: -10px;
  }
}
@media (max-width: 768px) {
  .features__slider-prev, .features__slider-next {
    width: 30px;
    height: 30px;
  }
  .features__slider-prev {
    left: 0;
  }
  .features__slider-next {
    right: 0;
  }
}
@media (max-width: 540px) {
  .features {
    padding-top: 80px;
  }
  .features__title {
    margin-bottom: 16px;
  }
  .features__slide-title {
    font-size: 18px;
  }
  .features__slide-text {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .features__slider .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .features__slide {
    max-height: -moz-fit-content;
    max-height: fit-content;
    min-height: 268px;
    height: auto;
  }
  .features__pagination-slider,
  .features .slider-buttons {
    display: none;
  }
}
.howItWorks {
  /* .howItWorks__video */
  padding-top: 160px;
  padding-bottom: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.howItWorks__title {
  margin-bottom: 32px;
}
.howItWorks__video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}
.howItWorks__video video {
  border-radius: 24px;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 450px) {
  .howItWorks {
    padding-top: 130px;
  }
}
.team {
  padding-top: 140px;
  margin-bottom: 24px;
}
.team__title {
  margin-bottom: 32px;
  color: #25ff00;
}
.team__subtitle {
  font-size: 18px;
  line-height: 166%;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.team__content {
  display: flex;
  gap: 30px;
}
.team__item {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 100%;
  height: 643px;
  padding: 4px 16px 24px;
  background: #4660aa;
  -webkit-backdrop-filter: blur(175px);
          backdrop-filter: blur(175px);
}
.team__item-img {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 4px;
}
.team__item-img img {
  width: 200px;
  height: 200px;
}
.team__name {
  font-size: 32px;
  margin-bottom: 4px;
  text-align: center;
}
.team__subname {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}
.team__text {
  overflow-y: auto;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 16px;
  height: 166px;
}
.team__text::-webkit-scrollbar {
  width: 1.5px;
}
.team__text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #000;
  opacity: 0.3;
}
.team__text::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.team__social-title {
  text-align: center;
  font-size: 32px;
  line-height: 87.5%;
  margin-bottom: 32px;
}
.team__social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.team__social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.team__social-link svg g rect {
  transition: all 0.3s ease;
}
.team__social-link:hover svg g rect {
  transition: all 0.3s ease;
  fill: #25ff00;
}
.team__social-name {
  font-size: 14px;
  line-height: 200%;
}

@media (max-width: 1024px) {
  .team__content {
    gap: 9px;
  }
  .team__item {
    height: 575px;
  }
  .team__social-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .team__text {
    font-size: 16px;
  }
  .team__item-img img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 675px) {
  .team__content {
    flex-direction: column;
  }
  .team__item {
    height: 580px;
  }
}
@media (max-width: 490px) {
  .team {
    padding-top: 90px;
  }
  .team__item {
    padding: 4px 20px 24px;
  }
  .team__text {
    font-size: 14px;
  }
  .team__social {
    margin-top: auto;
  }
  .team__social-links {
    justify-content: space-between;
  }
}
@media (max-width: 375px) {
  .team__item {
    height: 550px;
  }
  .team__item-img img {
    width: 100px;
    height: 100px;
  }
  .team__name {
    font-size: 26px;
  }
  .team__subname {
    font-size: 18px;
  }
  .team__social-link img {
    width: 30px;
    height: 30px;
  }
}
.faq {
  padding-top: 163px;
  padding-bottom: 70px;
}
.faq__title {
  margin-bottom: 74px;
}
.faq__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1240px) {
  .faq__row {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .faq {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .faq__title {
    margin-bottom: 20px;
  }
  .faq__robot {
    max-width: 100%;
  }
  .faq__robot img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 425px) {
  .faq__robot {
    margin-bottom: 24px;
    max-width: 200px;
  }
  .faq__robot img {
    width: 100%;
    height: auto;
  }
}
.accordion {
  position: relative;
  max-width: 648px;
  padding: 24px 0;
  font-family: "Lora";
  border-radius: 24px;
  background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}
.accordion::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  background: linear-gradient(114deg, #fff 0%, #006ffd 33.59%, #006ffd 62.84%, #fff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.accordion__header {
  margin-bottom: 12px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.accordion__item {
  position: relative;
  padding: 0 16px;
  transition: opacity 0.3s ease-out;
}
.accordion__item::after, .accordion__item::before {
  position: absolute;
  content: "";
  bottom: -6px;
  width: 50px;
  height: 6px;
  left: 2px;
  background-color: #34c21c;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.accordion__item::after {
  width: 70%;
  height: 4px;
  bottom: 0;
}
.accordion__item + .accordion__item {
  margin-top: 20px;
}
.accordion__trigger {
  max-height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.accordion__trigger span {
  flex: 1 1 auto;
}
.accordion__trigger svg {
  transition: all 0.3s ease-out;
}
.accordion__trigger svg path {
  transition: all 0.3s ease-out;
}
.accordion__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}
.ac.js-enabled .ac-panel {
  visibility: hidden;
}
.ac.is-active {
  position: relative;
  padding-bottom: 24px;
  font-family: "Lexend";
}
.ac.is-active + .accordion__item {
  margin-top: 24px;
}
.ac.is-active .accordion__header {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}
.ac.is-active::after, .ac.is-active::before {
  opacity: 1;
}
.ac.is-active svg path:nth-child(2) {
  opacity: 0;
}
.ac.is-active .ac-panel {
  visibility: visible;
}
@media (max-width: 600px) {
  .accordion {
    padding-bottom: 88px;
  }
  .accordion__header {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }
  .accordion__trigger img {
    max-width: 40px;
  }
  .accordion__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .accordion__item {
    padding: 0 8px;
  }
  .ac.is-active .accordion__header {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1;
  }
}
.footer {
  padding: 64px 0 24px;
  border: 1px solid #006ffd;
  background: #071220;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer__about {
  max-width: 582px;
  opacity: 0.8;
}
.footer__logo {
  margin-bottom: 16px;
  width: 60px;
  height: 60px;
}
.footer__logo img {
  width: 60px;
  height: 60px;
}
.footer__text {
  font-size: 20px;
  line-height: 150%;
}
.footer__name {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 500;
}
.footer__item {
  font-size: 16px;
  font-weight: 300;
}
.footer__item + .footer__item {
  margin-top: 24px;
}
.footer__box {
  border-radius: 24px;
  border: 1px solid var(--3, #fff);
  background: linear-gradient(0deg, rgba(0, 111, 253, 0.1) 0%, rgba(0, 111, 253, 0.1) 100%), radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 144px;
  height: 152px;
  padding: 24px;
  gap: 14px;
  margin-top: 47px;
}
.footer__social-item {
  width: 40px;
  height: 40px;
}
.footer__social-item svg {
  width: 40px;
  height: 40px;
}
.footer__social-item svg g rect {
  transition: all 0.3s ease;
}
.footer__social-item:hover svg g rect {
  transition: all 0.3s ease;
  fill: #25ff00;
}
.footer__copy {
  display: flex;
  justify-content: center;
}
.footer__copy-text {
  opacity: 0.5;
  text-align: center;
}
.footer__signup-btn {
  display: none;
  width: 162px;
  height: 50px;
  padding: 16px 24px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .footer__about {
    max-width: 254px;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__navigation, .footer__signup, .footer__social {
    margin-top: 8px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 24px 8px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__name {
    font-size: 18px;
  }
  .footer__item {
    font-size: 16px;
  }
  .footer__box {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 69px;
    height: 200px;
    padding: 8px 14px;
    gap: 8px;
    margin-top: 16px;
  }
  .footer__name span {
    display: none;
  }
  .footer__copy {
    justify-content: space-between;
    align-items: center;
  }
  .footer__signup-btn {
    display: block;
  }
}
@media (max-width: 670px) {
  .footer {
    padding: 8px 0 8px;
  }
  .footer__inner {
    margin-bottom: 24px;
  }
  .footer__logo img {
    width: 40px;
    height: 40px;
  }
  .footer__text {
    display: none;
  }
  .footer__copy {
    justify-content: center;
  }
  .footer__signup-btn {
    display: none;
  }
  .footer__box {
    background: none;
    border: none;
    box-shadow: none;
    height: auto;
    margin-top: 0;
    padding: 0;
    align-items: flex-start;
  }
  .footer__social-item:last-child {
    display: none;
  }
}
@media (max-width: 490px) {
  .footer__name {
    margin-bottom: 8px;
    font-size: 10px;
  }
  .footer__item {
    font-size: 10px;
  }
  .footer__item + .footer__item {
    margin-top: 10px;
  }
  .footer__social-item {
    width: 24px;
    height: 24px;
  }
  .footer__social-item svg {
    width: 24px;
    height: 24px;
  }
  .footer__copy-text {
    font-size: 9px;
  }
}