@import 'blocks/reset';

@import url(https://fonts.googleapis.com/css?family=Lexend:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Spline+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:700&display=swap);

@import 'blocks/vars';

body {
    color: $primary;
    font-family: 'Lexend', serif;
    font-size: 16px;
    background: #303268;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    //  background: radial-gradient(
    //          58.86% 81.51% at 50% 40.91%,
    //          rgba(0, 25, 255, 0.5) 20.92%,
    //          rgba(30, 42, 156, 0.5) 84.26%
    //      ),
    //      #303268;
}

.container {
    margin: 0 auto;
    max-width: 1172px;
    width: 100%;
    padding: 0 16px;
}

.title {
    margin: 0 auto;
    width: fit-content;
    color: $primary;
    font-feature-settings: 'liga' off;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 109.375%;

    span {
        color: $text-highlight;
    }
}

.btn-transparent {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    width: 100%;
    color: $primary;
    border: 1px solid $green-primary;
    border-radius: 100px;
    background-color: transparent;
    transition: all 0.4s ease-out;
    &:hover {
        border: 1px solid #34c21c;
        background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%),
            radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0px 0px 14px 1px #4cbc0b;
    }
    &:active,
    &:focus {
        border: 1px solid #4cbc0b;
        background: rgba(68, 12, 33, 0.1);
        box-shadow: 0px 0px 14px 1px #4cbc0b;
    }
}

.btn-green {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    width: 100%;
    color: $primary;
    border-radius: 1000px;
    background-color: $green-primary;
    transition: all 0.4s ease-out;
    &:hover {
        box-shadow: 0px 0px 14px 1px #34c21c;
    }
    &:active,
    &:focus {
        background-color: $green-active;
    }
}

.cookies {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    max-width: fit-content;
    padding: 25px 24px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #4cbc0b;
    background: rgba(76, 188, 11, 0.3);
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
    color: $primary;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    z-index: 1;
    &__text {
        min-width: fit-content;
        margin-right: 17px;
    }
    &__btn:not(:last-child) {
        margin-right: 8px;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
        width: 100px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
    }
}

.wrapper {
    height: 100vh;
    position: relative;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth; /* Для Safari и старых версий Edge */
    -moz-scroll-behavior: smooth; /* Для Firefox */
    -ms-scroll-behavior: smooth; /* Для старых версий Edge */
}
section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}
@media (max-width: 768px) {
    section {
        // width: 100%;
        // height: auto;
        // scroll-snap-align: unset;
    }
}

@import 'blocks/header';
@import 'blocks/burger-menu';

@media (max-width: 992px) {
    .title {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }
}
@import 'blocks/intro';
@import 'blocks/modal';
@import 'blocks/benefits';
