@import 'blocks/reset';

@import url(https://fonts.googleapis.com/css?family=Lexend:300,regular,500,600,700font-display:swap);
@import url(https://fonts.googleapis.com/css?family=Spline+Sans:regularfont-display:swap);
@import url(https://fonts.googleapis.com/css?family=Lora:600,700font-display:swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:700font-display:swap);

@import 'blocks/vars';

body {
    font-family: 'Lexend', serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1172px;
    width: 100%;
    padding: 16px;
}

.title {
    color: $primary;
    font-feature-settings: 'liga' off;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 109.375%;

    span {
        color: $text-highlight;
    }
}
