.accordion {
    &__header {
        display: flex;
        align-items: center;
    }

    &__item {
        border-radius: 24px;
        border: 2px solid #fff;
        background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%),
            radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &__text {
        color: $primary;
    }

    &__trigger {
        background-color: transparent;
        color: $primary;
        svg {
        }
    }
}

.ac {
    .ac-panel {
        overflow: hidden;
        transition-property: height, visibility;
        transition-timing-function: ease;
    }

    // Hide content when Javascript is enabled
    &.js-enabled {
        .ac-panel {
            visibility: hidden;
        }
    }

    // Active class
    &.is-active {
        border: 1px solid $green-primary;
        .ac-panel {
            visibility: visible;
        }
        & > .ac-header .ac-trigger {
            svg {
                // символ/ стрелочка, плюсик
            }
        }
    }
}
