.benefits {

  &__title {
    margin-bottom: 40px;
  }
  &__slider {
  }
  &__slide {
  }
  &__slide-title {
    color: #FFF;
    font-size: 40px;
    // text-transform: lowercase;
  }
  &__slide-img {
  }
  &__slide-text {
    color: #FFF;
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .pagination-slider {
  }
  .slider-prev {
  }
  .slider-next {
  }
}
