/* BURGER MENU STYLES */
.no-scroll {
    overflow-y: hidden;
}

/* BTN NAV  STYLES*/
.nav-btn {
    position: relative;
    z-index: 14;
    display: none;
    height: 30px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
}

.nav-btn-icon {
    position: relative;
    display: block;

    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 20px;
    transition: all 0.3 ease-out;

    &::before,
    &::after {
        position: absolute;
        content: '';
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.3s ease-in;
    }

    &::before {
        top: -7px;
    }

    &::after {
        bottom: -7px;
    }
}

/* NAv Close */
.nav-btn-close .nav-btn-icon {
    background-color: transparent;

    &::before {
        transform: rotate(-45deg);
        top: 0;
        left: -0px;
    }

    &::after {
        transform: rotate(45deg);
        top: 0;
        left: 0px;
    }
}

/* //BTN NAV  STYLES*/
/* burger menu */
.mobile-nav {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 0;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: radial-gradient(
            58.86% 81.51% at 50% 40.91%,
            rgba(0, 25, 255, 0.5) 20.92%,
            rgba(30, 42, 156, 0.5) 84.26%
        ),
        #303268;
    backdrop-filter: blur(500px);
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.9s ease-out;
}

@media (max-width: 992px) {
    .nav-btn {
        display: block;
        margin: 0 12px;
    }

    .mobile-nav-active {
        display: flex;
        max-height: 100vh;
        height: auto;
        visibility: visible;
        top: calc(100% + 5px);
        opacity: 1;
        pointer-events: auto;
    }
}
