/* BURGER MENU STYLES */
.no-scroll {
    overflow-y: hidden;
}

/* BTN NAV  STYLES*/
.nav-btn {
    position: relative;
    z-index: 14;
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 100px;
    background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%),
        radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}

.nav-btn-icon {
    position: relative;
    display: block;

    background-color: #999a9c;

    width: 24px;
    height: 2px;
    transition: all 0.3 ease-out;

    &::before,
    &::after {
        position: absolute;
        content: '';
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #999a9c;
        border-radius: 10px;
        transition: transform 0.3s ease-in;
    }

    &::before {
        top: -7px;
    }

    &::after {
        bottom: -7px;
    }
}

/* NAv Close */
.nav-btn-close .nav-btn-icon {
    background-color: transparent;

    &::before {
        transform: rotate(-45deg);
        top: 0;
        left: -0px;
    }

    &::after {
        transform: rotate(45deg);
        top: 0;
        left: 0px;
    }
}

/* //BTN NAV  STYLES*/
/* burger menu */
.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;

    min-width: 189px;
    max-width: 100%;

    height: 100%;
    max-height: 0%;

    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;

    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.3s ease-out;
}

@media (max-width: 992px) {
    .nav-btn {
        display: block;
        margin: 0 12px;
    }

    .mobile-nav-active {
        display: flex;

        height: auto;
        max-height: 100vh;
        top: calc(100% + 29px);

        pointer-events: auto;
        visibility: visible;
        opacity: 1;
        background: linear-gradient(0deg, rgba(76, 188, 11, 0.1) 0%, rgba(76, 188, 11, 0.1) 100%),
            radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(50px);
    }
}

@media (max-width: 425px) {
    .nav-btn {
        margin: 0 8px;
    }
}
