.faq {
    padding-top: 163px;
    padding-bottom: 70px;
    &__title {
        margin-bottom: 74px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 1240px) {
    .faq {
        &__row {
            flex-direction: column;
        }
    }
}
