.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    max-width: 1140px;
    padding: 16px 0;
    border-radius: 1000px;
    border: 1px solid rgba(202, 140, 65, 0.75);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    /* IF HEADER FIXED */
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: all 0.3s ease-out;
    z-index: 14;

    /* ACTIVE HEADER STYLE */
    &--active {
        transition: all 0.3s ease-out;
        .header__logo {
            transition: all 0.3s ease-out;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__logo {
        //   flex: 1 1 auto;
        margin-right: 9.5px;
    }

    &__nav {
        //   flex: 1 1 auto;
        margin-right: 9.5px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__link {
        color: #ecf1f0;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 155.556%;
        padding: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $text-highlight;
        }

        &--active {
            color: $text-highlight;
            font-family: Lexend;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 155.556%;
        }
    }
    &__btns {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        .btn-signup {
            margin-right: 8px;
        }
    }
    &__btn {
    }
}
@media (max-width: 1160px) {
    .header {
        width: auto;
        transform: translateX(0);
        left: 16px;
        right: 16px;
    }
}

@media (max-width: 1100px) {
    .header {
        &__logo {
            flex: 1 1 auto;
        }
        &__list {
            gap: 5px;
        }
    }
}

@media (max-width: 998px) {
    .header {
        &__list {
            gap: 0;
        }

        &__link {
            font-size: 16px;
        }
    }
}
