.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    max-width: 1140px;
    padding: 16px 0;
    border-radius: 1000px;
    border: 1px solid rgba(202, 140, 65, 0.75);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    /* IF HEADER FIXED */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: all 0.3s ease-out;
    z-index: 14;

    /* ACTIVE HEADER STYLE */
    &--active {
        transition: all 0.3s ease-out;
        .header__logo {
            transition: all 0.3s ease-out;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__logo {
        flex: 1 1 auto;
        margin-right: 9.5px;
    }

    &__nav {
        flex: 1 1 auto;
        margin-right: 9.5em;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__link {
        color: #ecf1f0;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 155.556%;
        &--active {
            color: $text-highlight;
            font-family: Lexend;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
        }
    }
    &__btns {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        .btn-signup {
            margin-right: 8px;
        }
    }
    &__btn {
        display: flex;
        max-width: 140px;
        width: 100%;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
        background-color: transparent;
        color: $primary;
    }
}

.btn-login {
    border: 1px solid $green-primary;
}
.btn-signup {
    background-color: #1ba803;
}
