.intro {
    margin-bottom: 100px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin: 0;
        margin-bottom: 32px;
        max-width: 600px;
        font-size: 48px;
        span {
            color: $green-primary;
        }
    }
    &__descr {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 300;
        line-height: 150%;
        span {
            color: $text-highlight;
        }
    }
    &__left-block {
        flex: 1 1 50%;
    }
    &__right-block {
        flex: 1 1 50%;

        max-width: 478px;
        //   max-height: 624px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
